# =========================================================================
# NHÀ TRỌ PROJECT - DOCKER ENVIRONMENT VARIABLES TEMPLATE
# =========================================================================

# Database configuration
DB_NAME=postgres
DB_USERNAME=postgres
DB_PASSWORD=postgres_password

# JWT Token security
JWT_SECRET=DauAnCuaNhaTroQuangSieuBaoMatKhongTheBiHackerPhaDuoc123!!!

# Third-party integrations
GOOGLE_CLIENT_SECRET=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
SPRING_MAIL_PASSWORD=frtxjagknxdmkquo
